body 
{
    background-color: #e9ecff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

a:visited
{
    color: #ff2a94
}

a:not(visited)
{
    color: #ff82c0
}

.div-home
{
    display: block;
}

.div-blogs
{
    display: none;
}

.div-playgrounds
{
    display: none;
}

.hr-full
{
    height: 10;
    color: gray;
    background-color: gray
}

.div-logo
{
    background-color: #fff4d1; 
    border-radius: 150px; 
    height: 150px
}

.div-logo-title
{
    color: #FF69B4;
    display: block; 
    font-weight: bold; 
    font-size: 50px; 
    font-family: sans-serif; 
    margin: 0 0 0 0
}

.div-logo-subtitle
{
    color: #ffb6c0; 
    display: inline; 
    padding-top: auto; 
    padding-bottom: auto; 
    font-size: 30px; 
    font-family: Lucida Console; 
    font-weight: bold
}

.h1-welcome-title
{
    text-align: center;
    font-family: Comic Sans MS
}

.p-friendly
{
    font-family: Comic Sans MS; 
}

.h2-friendly-even
{
    background: linear-gradient(90deg, #ff9eb5, #e9ecff); 
    border-radius: 20px; 
    font-family: Comic Sans MS
}

.h2-friendly-odd
{
    background: linear-gradient(90deg, #ffb8c9, #e9ecff); 
    border-radius: 20px; 
    font-family: Comic Sans MS
}

.div-menubar
{
    background-color: #ff1d8e;
    border-radius: 25px;
    text-align: center;
} 

.p-menubar-button
{
    display: inline;
    background-color: #ff1d8e;
    color: white;
    font-family: Comic Sans MS;
    padding: 0 20px 0 20px;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
}

@keyframes highlight-p-menubar-button-onhover
{
    from
    {
        background-color: #ff1d8e;
    }
    to
    { 
        background-color: #d00068;
    }
}

@keyframes highlight-p-menubar-button-onover
{
    from
    {
        background-color: #d00068;
    }
    to
    { 
        background-color: #ff1d8e;
    }
}


.p-menubar-button:hover
{
    animation: highlight-p-menubar-button-onhover 1s forwards;
}

.p-menubar-button:not(:hover)
{
    animation: highlight-p-menubar-button-onover 0.3s forwards;
}